<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="/" class="logo"><span>Dashboard</span></a>
            </div>
            <!-- End Logo container-->


            <div class="menu-extras">

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li>

                    </li>
                    <li>
                        <!-- Notification -->
                        <div class="notification-box">
                            <ul class="list-inline m-b-0">
                                <li>
                                    <a href="javascript:void(0);" class="right-bar-toggle">
                                        <i class="zmdi zmdi-T`H`E`M`E`L`O`C`K`.`C`O`M`-none"></i>
                                    </a>
                                    <div class="noti-dot">
                                        <span class="dot"></span>
                                        <span class="pulse"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Notification bar -->
                    </li>

                    <li class="dropdown user-box">
                        <a href="" class="dropdown-toggle waves-effect waves-light profile " data-toggle="dropdown" aria-expanded="true">
                            <div class="user-status away"><i class="zmdi zmdi-dot-circle"></i></div>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)"><i class="ti-user m-r-5"></i> {{ currentUser.username }} </a></li>
                            <li><a href="/logout"><i class="ti-power-off m-r-5"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>

        </div>
    </div>

    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="active">
                        <a href="/" class="active"><i class="zmdi zmdi-view-dashboard"></i>
                          <span> Dashboard </span> </a>
                    </li>

                    {% ifAsync currentUser %}
                         {% if currentUser.is_admin == 0  %} <!-- buat user -->

                                {% if currentUser.departemen_id ==2 %}
                                 <li class="has-submenu">
                                        <a href="/ticket_teknisi"><i class="zmdi zmdi-collection-text"></i><span> My Tickets Teknisi </span> </a>
                                    </li>
                                  
                                    <li class="has-submenu">
                                        <a href="/report"><i class="zmdi zmdi-collection-text"></i><span> Report </span> </a>
                                    </li>
                                {% else %}
                                <li class="has-submenu">
                                            <a href="/my_tickets"><i class="zmdi zmdi-collection-text"></i><span> My Tickets </span> </a>
                                        </li>
                                        <li class="has-submenu">
                                            <a href="/new_ticket"><i class="zmdi zmdi-collection-text"></i><span> Create Tickets </span> </a>
                                        </li>

                                        <li class="has-submenu">
                                            <a href="/report"><i class="zmdi zmdi-collection-text"></i><span> Report </span> </a>
                                </li>

                                {% endif %}
                     
                         {% elif currentUser.is_admin == 1 %} <!-- buat admin -->
                        
                         <li class="has-submenu">
                             <a href="/admin/ticket"><i class="zmdi zmdi-collection-text"></i><span> Ticket </span> </a>
                         </li>

                         <li class="has-submenu">
                             <a href="/admin/user"><i class="zmdi zmdi-collection-text"></i><span> User </span> </a>
                         </li>
                         <li class="has-submenu">
                             <a href="/admin/items"><i class="zmdi zmdi-collection-text"></i><span> Items </span> </a>
                         </li>
                         <li class="has-submenu">
                             <a href="/admin/department"><i class="zmdi zmdi-collection-text"></i><span> Department </span> </a>
                         </li>
                         <li class="has-submenu">
                             <a href="/admin/report"><i class="zmdi zmdi-collection-text"></i><span> Report </span> </a>
                             <a href="/admin/service"><i class="zmdi zmdi-collection-text"></i><span> Service Info </span> </a>
                         
                         </li>

                         
                         {% elif currentUser.is_admin == 2 %} <!-- buat manager -->
                             <li class="has-submenu">
                                 <a href="/manajer/tickets"><i class="zmdi zmdi-collection-text"></i><span> My Tickets </span> </a>
                             </li>
                             <li class="has-submenu">
                                 <a href="/manajer/tickets/done"><i class="zmdi zmdi-collection-text"></i><span>Tickets Done</span> </a>
                             </li>
                             <li class="has-submenu">
                                 <a href="/manajer/tickets/progress"><i class="zmdi zmdi-collection-text"></i><span>Tickets Progress</span> </a>
                             </li>



                         {% elif currentUser.is_admin == 3 %} <!-- buat wakildirektur -->
                         <li class="has-submenu">
                             <a href="/superadmin/tickets"><i class="zmdi zmdi-collection-text"></i><span> My Tickets </span> </a>
                         </li>
                         <li class="has-submenu">
                             <a href="/superadmin/tickets/progress"><i class="zmdi zmdi-collection-text"></i><span>Tickets progress</span> </a>
                         </li>

                         <li class="has-submenu">
                             <a href="/superadmin/tickets/done"><i class="zmdi zmdi-collection-text"></i><span>Tickets Done</span> </a>
                         </li>


                         {% elif currentUser.is_admin == 4 %} <!-- buat direktur -->
                         <li class="has-submenu">
                             <a href="/direktur/tickets"><i class="zmdi zmdi-collection-text"></i><span> My Tickets </span> </a>
                         </li>
                         <li class="has-submenu">
                             <a href="/direktur/tickets/done"><i class="zmdi zmdi-collection-text"></i><span>Tickets Done</span> </a>
                         </li>


                          {% endif %}
                    {% endif %}
                    <li class="has-submenu">
                    
                             <a href="/logout"><i class="zmdi zmdi-collection-text"></i><span> Logout </span> </a>
                         </li>

                </ul>
                <!-- End navigation menu  -->
            </div>
        </div>
    </div>
</header>
<!-- End Navigation Bar-->
