<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <title>Ticketing Support - {% block title %}{% endblock %}</title>

        <!--Morris Chart CSS -->
		    <link rel="stylesheet" href="/assets/plugins/morris/morris.css">

        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/menu.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" />


        <script src="/assets/js/modernizr.min.js"></script>
    </head>
    <body>

       {% include 'layouts.partials.navbar' %}
        <div class="wrapper">
              <div class="container">
                <div class="row">

                  <!-- Page-Title -->
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="btn-group pull-right m-t-15">

                          </div>
                          <h4 class="page-title">Welcome {{ currentUser.username }},Your Privilleges is
                            {% if currentUser.is_admin == 0 %}
                            User
                            {% elif currentUser.is_admin == 1%}
                            admin
                            {% elif currentUser.is_admin ==2 %}
                            Manager
                            {% elif currentUser.is_admin ==3 %}
                            Wakil Direktur
                            {% elif currentUser.is_admin ==4 %}
                            Manager
                            {% endif %}



                          </h4>
                      </div>
                  </div>
                  {% block content %}{% endblock %}

                </div>
                <!-- start -->


                <!-- end start -->

              </div>
              {% include 'layouts.partials.footer2' %}

        </div>
    <!-- end container -->
        {% include 'layouts.partials.footer' %}
    </body>
</html>
