<div class="col-md-3">

            <div class="panel panel-default panel-flush">
                <div class="panel-heading">
                    Admin Login
                </div>

                <div class="panel-body">
                    <ul class="nav" role="tablist">
                            <li role="presentation">
                                <a href="/admin/user">
                                    User
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="/admin/department">
                                    Departemens
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="/admin/items">
                                    Items
                                </a>
                            </li>

                    </ul>
                </div>
            </div>

</div>
