{% extends 'layouts.backend' %}

{% block title %} All Tickets {% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-ticket">
                      {% if userlogin.departemen_id == 2 %}
                        Tickets Waiting Approve</i>
                      {% else %}
                        Tickets Waiting Actions</i>
                      {% endif %}

                </div>

                <div class="panel-body">
                    {% if tickets.length == 0 %}
                        <p>There are currently no tickets.</p>
                    {% else %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Status</th>
                                    <th>Request By</th>

                                    <th>Last Updated</th>
                                    <th style="text-align:center" colspan="2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for ticket in tickets_progress %}
                                <tr>

                                    <td>
                                        <a href="/tickets/{{ ticket.ticket_id }}">
                                            #{{ ticket.ticket_id }} - {{ ticket.title }}
                                        </a>
                                    </td>
                                    <td>
                                    {% if ticket.status == 'Open' %}
                                        <span class="label label-success">{{ ticket.status }}</span>
                                    {% else %}
                                        <span class="label label-danger">{{ ticket.status }}</span>
                                    {% endif %}
                                    </td>
                                    <td>
                                      {% for users in user %}
                                          {% if users.id == ticket.user_id %}
                                            {{ users.username }}
                                          {% endif %}
                                      {% endfor %}
                                    </td>
                                    <td>{{ ticket.updated_at }}</td>


                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
